
/* "submit construction updates here" */
.headerbox-home {
  position: relative;
  display: block;
  left: calc(50% - 225px);
      
  top: 80px;
  width: 450px;
  height: 100px;
  padding: 10px 20px;
  border-radius: 5px;

  text-align: center;
  background: #aaaaaa;
  color: white;
}

#submit-button {
  top: 10px;
}
    

/* Content boxes: map and updates outline */
.contentbox {
  position: relative;
  display: flex;
  gap: 29px; /*THIS CONTROLS THE GAP BETWEEN MAP AND UPDATES*/
}

.samplebox {
  position: relative;
  display: block;
  left: calc(50% - 365px);
  
  top: 110px;
  padding: 10px;
  border-radius: 10px;
  
  box-shadow: 0 5px 5px rgba(15, 15, 15, 0.1);
  background: #aaaaaa;
  color: #ffffff;
}

  #map{
    width: 500px;
    height: 400px;
  }

  #updates{
    width: 200px;
    height: 400px;
  }
     
