
/* "Submit Projects...If you're a county engineer, log in below */
    .headerbox-form {
      position: relative;
      display: block;
      width: 450px;
      height: 100px;
      top: 80px;
      /* centering the box with the page */
      left: calc(50% - 225px); /* 50% of page width - half the box width*/
      text-align: center;
      background: #aaaaaa;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }  
    .headerbox-form h1{
      padding-top: 5px;
      font-size: 1.7rem;
    }
    
    .headerbox-form h2{
      padding-top: 10px;
      font-size: 1rem;
      font-weight: 600;
    }



/* login form */
.login-box {
  position: relative;
  display: block;
  width: 500px;
  height: 500px;
  top: 120px;
  left: calc(50% - 250px); /* 50% of page width - half the box width*/
  text-align: center;
  background: #aaaaaa;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 5px;
}
.submit-form {
  margin-top: 20px;
  position: relative;
  display: block;
  width: 500px;
  height: 500px;
  top: 120px;
  left: calc(50% - 250px); /* 50% of page width - half the box width*/
  text-align: center;
  background: #aaaaaa;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 5px;
}


