
/* "Submit Projects...If you're a county engineer, log in below */
.headerbox-form {
  position: relative;
  display: block;
  left: calc(50% - 225px); 
  
  top: 80px;
  width: 450px;
  height: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  
  text-align: center;
  background: #aaaaaa;
  color: white;
}  

  .headerbox-form h1{
    padding-top: 5px;
    font-size: 1.7rem;
  }
    
  .headerbox-form h2{
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 600;
  }



/* login form */
.login-box {
  position: relative;
  display: block;
  left: calc(50% - 250px);

  top: 120px;
  width: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 5px;

  text-align: center;
  background: #aaaaaa;
  color: white;
}

/* submit form */
.submit-form {
  position: relative;
  display: block;
  left: calc(50% - 250px);
  
  margin-top: 20px;
  top: 120px;
  width: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 5px;

  text-align: center;
  background: #aaaaaa;
  color: white;
  border: none;
}


